.loader {
  border-color: rgba(34, 102, 136, 0.2);
  border-left-color: #268;
}

#panel {
  background: #268;
}

#branding p {
  color: #598ca6;
}

nav li a {
  background: #598ca6;
  color: #046;
}
nav li a:hover {
  background: #90b2c4;
}

#index header {
  padding: 20px 20px 10px;
}

#index header p {
  margin: 0;
  color: #444;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

#sort {
  margin-top: 10px;
  padding: 6px 12px;
  width: 250px;
  border-radius: 25px;
  border: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #268;
  color: #cde;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.3s;
}
#sort::-moz-focus-inner { border: none; }
#sort:hover {
  color: #fff;
  background: #598ca6;
}

#index-list {
  background: #e9f0f3;
}

#index-list li:hover {
  background: #ade;
  box-shadow: 0 -1px #ade;
}

#index-list li a {
  border-bottom-color: #ade;
}

#details .language-bar {
  display: flex;
  margin: 0 0 12px;
  padding: 0;
}

#details .language-bar li {
  display: block;
  flex: 1;
  margin: 0;
  padding: 6px 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #c0d4df;
  transition-property: background;
  transition-duration: 0.3s;
}

#details .language-bar li.selected {
  background: #90b2c4;
}

#details .language-bar li:not(.selected) {
  cursor: pointer;
}

#details .language-bar li:not(.selected):hover {
  background: #90b2c4;
}

#details .language-bar li:first-child {
  border-radius: 4px 0 0 4px;
}

#details .language-bar li:last-child {
  border-radius: 0 4px 3px 0;
}

#details .language-bar li+li {
  margin-left: 1px;
}

#details .l10n-top.en  .l10n:not(.en ) { display: none }
#details .l10n-top.tl  .l10n:not(.tl ) { display: none }
#details .l10n-top.ceb .l10n:not(.ceb) { display: none }
#details .l10n-top.ilo .l10n:not(.ilo) { display: none }
#details .l10n-top.pam .l10n:not(.pam) { display: none }
#details .l10n-top.es  .l10n:not(.es ) { display: none }
#details .l10n-top.de  .l10n:not(.de ) { display: none }
#details .l10n-top.fr  .l10n:not(.fr ) { display: none }

#details h1 {
  border-bottom-color: #ade;
  color: #134;
}

#details h1.untitled {
  font-style: italic;
}

#details p {
  margin: 0 0 10px 0;
  padding: 0;
}

#details ul {
  margin: 0 0 0 24px;
  padding: 0;
}

#details ul li {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: square;
}

#details figure > a {
  border-color: #ade;
}

#details h2 {
  color: #8bd;
  border-top-color: #ade;
}

#details p.address {
  padding: 0 170px 0 0;
}

#details .vicinity {
  clear: right;
}

#details .vicinity p {
  padding: 0 170px 0 0;
  font-style: italic;
}

#about h2 {
  color: #8bd;
}

.marker-cluster-small      { background-color: rgba(68, 153, 204, 0.5); }
.marker-cluster-small  div { background-color: rgba(68, 153, 204, 0.8); }
.marker-cluster-medium     { background-color: rgba(51, 128, 170, 0.5); }
.marker-cluster-medium div { background-color: rgba(51, 128, 170, 0.8); }
.marker-cluster-large      { background-color: rgba(34, 102, 136, 0.5); }
.marker-cluster-large  div { background-color: rgba(34, 102, 136, 0.8); }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #268;
}
